.page-wrapper {
  width: 70%;
  margin: auto;
  padding: 20px;
}

.page-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.card-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card-box label {
  font-weight: 600;
}

.card-box input,
.card-box select {
  padding: 13px;
  border-radius: 12px;
  border: 1px solid #dcdcdc;
  font-size: 15px;
}

.btn-primary {
  background: #be1d2d;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.btn-primary:hover {
  background: #be1d2d;
}
